---
import Image from '../assets/React-icon.svg.png'
---

<section id="about" class="py-12 bg-gray-100 flex flex-col sm:flex-row">
  <div class="w-full sm:w-[40%]">
    <img src={Image} alt="placeholder">
  </div>
  <div class="w-full sm:w-[60%]">
    <h2 class="text-3xl font-semibold mb-4">About Me</h2>
    <p>
      Hello! I'm Alex, a passionate web developer with a focus on creating
      engaging and user-friendly web experiences. With a background in computer
      science and a love for design, I bring a unique blend of technical skills
      and creativity to my projects.
    </p>
    <p>
      My journey in web development began several years ago when I started
      tinkering with HTML and CSS to create my own personal website. Since then,
      I've immersed myself in the world of web technologies, learning everything
      from front-end frameworks to server-side scripting.
    </p>
    <p>
      When I'm not coding, you can find me exploring the outdoors, playing
      guitar, or experimenting with new cooking recipes. I'm always excited to
      take on new challenges and collaborate on innovative projects.
    </p>
  </div>
</section>
