---
import Astro from '../assets/astro-icon-seeklogo.com.svg'
import Axios from '../assets/axios.svg'
---

<section class="px-4">
  <h1>Technologies</h1>
  <div
    class="grid grid-cols-4 sm:grid-cols-10 xl:grid-cols-15"
  >
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
    />
    <div>
      <img class="p-2" src={Astro} alt="astro icon" />
    </div>
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain-wordmark.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original-wordmark.svg"
    />
    <div>
      <img class="p-2" src={Axios} alt="axios icon"/>
    </div>
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/graphql/graphql-plain-wordmark.svg"
    />
    <img class="p-2"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-original.svg"
    />
  </div>
</section>
