---
import Header from '../components/Header.tsx'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Clayton</title>
</head>
<body>
    <Header client:load/>
    <main>
        <slot />
    </main>
</body>
</html>